################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/HelloCryptoWorld/DesignTimeBuild/.dtbcache.v2
/.vs/HelloCryptoWorld/v17/.futdcache.v2
/.vs/HelloCryptoWorld/v17/.suo
/.vs/HelloCryptoWorld/v17/DocumentLayout.backup.json
/.vs/HelloCryptoWorld/v17/DocumentLayout.json
*.bin
/HelloCryptoWorld/obj
/HelloCryptoWorld/bin/Debug/net8.0
/HelloCryptoWorld/bin/Release/net8.0
/HelloCryptoWorld/Properties/PublishProfiles
/HelloCryptoWorld/HelloCryptoWorld.csproj.user
/HelloCryptoWorldLibrary/bin/Debug/net8.0
/HelloCryptoWorldLibrary/obj
/.vs/HelloCryptoWorld/config
/CryptoArbitrageLibrary/obj/Debug/net8.0
/.vs/CryptoArbitrage/CopilotIndices/17.14.1577.30250/SemanticSymbols.db
/.vs/CryptoArbitrage/DesignTimeBuild/.dtbcache.v2
/.vs/CryptoArbitrage/v17/.futdcache.v2
/.vs/CryptoArbitrage/v17/.suo
/.vs/CryptoArbitrage/v18/.suo
/.vs/CryptoArbitrage/v18/DocumentLayout.backup.json
/.vs/CryptoArbitrage/v18/DocumentLayout.json
/CryptoArbitrage/bin/Debug/net8.0
/CryptoArbitrage/obj/Debug/net8.0/ref/CryptoArbitrage.dll
/CryptoArbitrage/obj/Debug/net8.0/refint/CryptoArbitrage.dll
*.exe
/CryptoArbitrage/obj/Debug/net8.0/CryptoAr.4F3DC0C7.Up2Date
/CryptoArbitrage/obj/Debug/net8.0/CryptoArbitrage.AssemblyInfo.cs
/CryptoArbitrage/obj/Debug/net8.0/CryptoArbitrage.AssemblyInfoInputs.cache
/CryptoArbitrage/obj/Debug/net8.0/CryptoArbitrage.assets.cache
/CryptoArbitrage/obj/Debug/net8.0/CryptoArbitrage.csproj.AssemblyReference.cache
/CryptoArbitrage/obj/Debug/net8.0/CryptoArbitrage.csproj.CoreCompileInputs.cache
/CryptoArbitrage/obj/Debug/net8.0/CryptoArbitrage.csproj.FileListAbsolute.txt
/CryptoArbitrage/obj/Debug/net8.0/CryptoArbitrage.dll
/CryptoArbitrage/obj/Debug/net8.0/CryptoArbitrage.genruntimeconfig.cache
/CryptoArbitrage/obj/Debug/net8.0/CryptoArbitrage.MvcApplicationPartsAssemblyInfo.cache
/CryptoArbitrage/obj/Debug/net8.0/CryptoArbitrage.MvcApplicationPartsAssemblyInfo.cs
/CryptoArbitrage/obj/Debug/net8.0/CryptoArbitrage.pdb
/CryptoArbitrage/obj/Debug/net8.0/CryptoArbitrage.sourcelink.json
/CryptoArbitrage/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/CryptoArbitrage/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/CryptoArbitrage/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/CryptoArbitrage/obj/Debug/net8.0/staticwebassets.build.json
/CryptoArbitrage/obj/Debug/net8.0/staticwebassets.build.json.cache
/CryptoArbitrage/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/CryptoArbitrage/obj/Debug/net8.0/swae.build.ex.cache
/CryptoArbitrageLibrary/obj/CryptoArbitrageLibrary.csproj.nuget.dgspec.json
/CryptoArbitrageLibrary/obj/CryptoArbitrageLibrary.csproj.nuget.g.props
/CryptoArbitrageLibrary/obj/CryptoArbitrageLibrary.csproj.nuget.g.targets
/CryptoArbitrageLibrary/obj/project.assets.json
/CryptoArbitrageLibrary/obj/project.nuget.cache
/CryptoArbitrage/obj/CryptoArbitrage.csproj.nuget.dgspec.json
/CryptoArbitrage/obj/CryptoArbitrage.csproj.nuget.g.props
/CryptoArbitrage/obj/CryptoArbitrage.csproj.nuget.g.targets
/CryptoArbitrage/obj/project.assets.json
/CryptoArbitrage/obj/project.nuget.cache
/CryptoArbitrageLibrary/bin/Debug/net8.0/CryptoArbitrageLibrary.deps.json
/CryptoArbitrageLibrary/bin/Debug/net8.0/CryptoArbitrageLibrary.dll
/CryptoArbitrageLibrary/bin/Debug/net8.0/CryptoArbitrageLibrary.pdb
/.vs/CryptoArbitrage/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-shm
/.vs/CryptoArbitrage/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-wal
/.vs/CryptoArbitrage/v18/.futdcache.v2
/CryptoArbitrage/obj/Debug/net8.0/CryptoArbitrage.GeneratedMSBuildEditorConfig.editorconfig
/CryptoArbitrage/obj/Debug/net8.0/CryptoArbitrage.GlobalUsings.g.cs
/CryptoArbitrage/obj/Debug/net8.0/rpswa.dswa.cache.json
/.vs/CryptoArbitrage/v17
/CryptoArbitrage/obj/Debug/net8.0
